In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('results.csv')

drivers = pd.read_csv('drivers.csv', encoding='latin-1')
driverStanding = pd.read_csv(r'driverStandings.csv')

circuits = pd.read_csv('circuits.csv', encoding='latin-1')
races =  pd.read_csv('races.csv')

constructors = pd.read_csv('constructors.csv')
constructorResult = pd.read_csv('constructorResults.csv')
constructorStanding = pd.read_csv('constructorStandings.csv')

pitStops =  pd.read_csv('pitStops.csv')

qualifying = pd.read_csv('qualifying.csv')

weather = pd.read_csv('Weather_SafetyCar.csv')

In [3]:
results.drop(columns=['fastestLapTime', 'fastestLap', 'time', 'positionText', 'position', 'number'], inplace=True)

drivers.drop(columns=['number', 'dob', 'nationality', 'url', 'forename', 'surname', 'code'], inplace=True)
driverStanding.drop(columns=['positionText'], inplace=True)

circuits.drop(columns=['alt', 'url', 'location', 'country', 'circuitRef'], inplace=True)
races.drop(columns=['url', 'time'], inplace=True)

constructors.drop(columns=['url', 'Unnamed: 5'], inplace=True)
constructorResult.drop(columns=['status'], inplace=True)
constructorStanding.drop(columns=['positionText', 'Unnamed: 7'], inplace=True)

pitStops.drop(columns=['time'], inplace=True)

qualifying.drop(columns=['q1', 'q2', 'q3'], inplace=True)

weather.drop(columns=['SC Laps'], inplace=True)

In [4]:
results.rename(columns={'points': 'points results'}, inplace=True)

driverStanding.rename(columns={'points': 'points driver standing'}, inplace=True)

circuits.rename(columns={'name': 'circuit name'}, inplace=True)
races.rename(columns={'name': 'race name'}, inplace=True)
weather.rename(columns={'name': 'race name'}, inplace=True)

constructorResult.rename(columns={'points': 'points constructor Standing'}, inplace=True)

In [5]:
driver_table = pd.merge(drivers, driverStanding, on='driverId').dropna()

race_circuit_table = pd.merge(pd.merge(circuits, races, on='circuitId'), weather, on=['year', 'race name']).dropna()

constructors_table = pd.merge(pd.merge(constructors, constructorStanding, on='constructorId'), constructorResult, on='constructorId').dropna()

In [6]:
driver_table.drop(columns=['driverRef', 'driverStandingsId'], inplace=True)
results_driver_table = pd.merge(driver_table, results, on=['driverId', 'raceId'])

race_circuit_table.drop(columns=['circuit name', 'round', 'race name', 'date'], inplace=True)
results = pd.merge(results, race_circuit_table, on='raceId')

results.drop(columns=['raceId', 'driverId'], inplace=True)
constructors_table.drop(columns=['constructorRef', 'name', 'nationality', 'constructorStandingsId', 'raceId_x', 'position', 'constructorResultsId', 'raceId_y'],  inplace=True)
results = pd.merge(results, constructors_table, on='constructorId')

,resultId,constructorId,grid,positionOrder,points results,laps,milliseconds,rank,fastestLapSpeed,statusId,circuitId,lat,lng,year,weather
0,1,1,1,1,10.0,58,5690616.0,2.0,218.3,1,1,-37.8497,144.9680,2008,Dry
1,2,2,5,2,8.0,58,5696094.0,3.0,217.586,1,1,-37.8497,144.9680,2008,Dry
2,3,3,7,3,6.0,58,5698779.0,5.0,216.719,1,1,-37.8497,144.9680,2008,Dry
3,4,4,11,4,5.0,58,5707797.0,7.0,215.464,1,1,-37.8497,144.9680,2008,Dry
4,5,1,3,5,4.0,58,5708630.0,1.0,218.385,1,1,-37.8497,144.9680,2008,Dry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4512,23777,5,17,16,0.0,54,NaN,16.0,192.542,11,24,24.4672,54.6031,2017,Dry
4513,23778,15,19,17,0.0,54,NaN,15.0,193.057,11,24,24.4672,54.6031,2017,Dry
4514,23779,3,15,18,0.0,54,NaN,6.0,195.402,11,24,24.4672,54.6031,2017,Dry
4515,23780,4,12,19,0.0,31,NaN,14.0,193.41,36,24,24.4672,54.6031,2017,Dry
4516,23781,9,4,20,0.0,20,NaN,12.0,194.579,9,24,24.4672,54.6031,2017,Dry

In [7]:
results['statusId'].std()
#race_circuit_table
constructors_table

,constructorId,constructorRef,name,nationality,constructorStandingsId,raceId_x,points,position,wins,constructorResultsId,raceId_y,points constructor Standing
0,1,mclaren,McLaren,British,1,18,14.0,1,1,1,18,14.0
1,1,mclaren,McLaren,British,1,18,14.0,1,1,14,19,10.0
2,1,mclaren,McLaren,British,1,18,14.0,1,1,25,20,4.0
3,1,mclaren,McLaren,British,1,18,14.0,1,1,35,21,6.0
4,1,mclaren,McLaren,British,1,18,14.0,1,1,46,22,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3636995,210,haas,Haas F1 Team,American,26932,988,47.0,8,0,15594,984,6.0
3636996,210,haas,Haas F1 Team,American,26932,988,47.0,8,0,15608,985,0.0
3636997,210,haas,Haas F1 Team,American,26932,988,47.0,8,0,15615,986,4.0
3636998,210,haas,Haas F1 Team,American,26932,988,47.0,8,0,15629,987,0.0
3636999,210,haas,Haas F1 Team,American,26932,988,47.0,8,0,15637,988,0.0

In [8]:
#driver_table.to_csv('total_data/driver_table.csv')
#race_circuit_table.to_csv('total_data/race_circuit_table.csv')
#constructors_table.to_csv('total_data/constructors_table.csv')
results.to_csv('total_data/results.csv', index=False)